
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body align="center">
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

	<div name="STAGE1" style = "display: none;">
		<h3>학번을 입력해주세요</h3>
		<h5>(중복 방지 및 경품 추첨용으로 사용하는 정보입니다)</h5>
		<br>
		<input type='text' name='studentcode'></input>  
		<input type = "submit" name = "to_stage2" value="다음" class="btn btn-success btn-xs">
	</div>

	<div name="STAGE2" style = "display: none;">
	<p><h3>점수를 매겨주세요!</h3></p>

	{% for photo in photos %}
	{% load static %}
	<div name = "{{photo.filename}}" style = "display: none;">
		<p> <img src="{% static "" %}{{photo.filename}}.png"></p>
		<p>
		<form>
			<span style="font-size: 20px;">1	2	3	4	5</span> <br>
  			{% buttons %}
			<input type = 'radio' name = 'radio-button' value='1'></input>
			<input type = 'radio' name = 'radio-button' value='2'></input>
			<input type = 'radio' name = 'radio-button' value='3'></input>
			<input type = 'radio' name = 'radio-button' value='4'></input>
			<input type = 'radio' name = 'radio-button' value='5'></input>
			{% endbuttons %}
		</form>
		</p>
	</div>
	{% endfor %}
	<input type = "submit" name = "next" value="다음" style="display: none;" align="center" class="btn btn">
	<input type = "submit" name = "to_stage3" value="다음" style="display: none;" class="btn btn-success">

	</div>

	<div>
	<form action="" align="center" width="100%">
		<input type = "text" name = "result" value="" style="display: none;"></input>
		
	</form>
	</div>



	<script type="text/javascript">

		var totalphotos = {{totalphotos}};
		var n = 0;
		var names = "{{names}}".split(" ");

		var allRadios = document.getElementsByName('radio-button');
		var i = 0;

		document.getElementsByName(names[0])[0].style.display = 'block';

		var univcode = '{{univcode}}';
		var studentcode = {{studentcode}};
		var votes = [];
		var answers = [];

		if (univcode == 'G') {
			document.getElementsByName('STAGE1')[0].style.display = 'inline';
			document.getElementsByName('to_stage2')[0].onclick = function() {
				input = document.getElementsByName('studentcode')[0].value;
				if (input > 20000000) {
					document.getElementsByName('STAGE1')[0].style.display = 'none';
					document.getElementsByName('STAGE2')[0].style.display = 'inline';
					studentcode = input;
				} else {
					alert('올바른 값을 입력해주세요!');
				}
			}
		} else {
			document.getElementsByName('STAGE2')[0].style.display = 'inline';
		}

		for(i = 0; i < allRadios.length; i++){
		        allRadios[i].onclick = function(){
			        if (n<totalphotos-1) {
			        	document.getElementsByName('next')[0].style.display = 'inline';
			        } else {
			        	document.getElementsByName('to_stage3')[0].style.display = 'inline';
			        }
		        	votes[n] = this.value;
		        };
		}

		document.getElementsByName("next")[0].onclick = function() {
		    if (n < totalphotos-1) {
		        	document.getElementsByName(names[n])[0].style.display = 'none';
		        	document.getElementsByName(names[n+1])[0].style.display = 'block';
		        	this.style.display = 'none';
		        	n++;
		    }
		}
	</script>
</body>