
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body align="center">
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

	{% for photo in photos %}
	{% load static %}
	<div name = "{{photo.filename}}" style = "display: none;">
		<p> <img src="{% static "" %}{{photo.filename}}.png"></p>
		<p>
		<form>
			1	2	3	4	5 <br>
  			{% buttons %}
			<input type = 'radio' name = 'radio-button' value='1'></input>
			<input type = 'radio' name = 'radio-button' value='2'></input>
			<input type = 'radio' name = 'radio-button' value='3'></input>
			<input type = 'radio' name = 'radio-button' value='4'></input>
			<input type = 'radio' name = 'radio-button' value='5'></input>
			{% endbuttons %}
		</form>
		</p>
	</div>
	{% endfor %}

	<div>
	<form action="" align="center" width="100%">
		<input type = "text" name = "result" value="" style="display: none;"></input>
		<input type = "submit" name = "submit" value="완료" style="display: none;" align="center">
	</form>
	</div>

	<script type="text/javascript">
		var totalphotos = {{totalphotos}};
		var n = 0;
		var names = "{{names}}".split(" ");

		var allRadios = document.getElementsByName('radio-button');
		var i = 0;

		var votes = [];

		document.getElementsByName(names[0])[0].style.display = 'block';

		for(i = 0; i < allRadios.length; i++){
		        allRadios[i].onclick = function(){
		        	if (n<totalphotos) {
		        		if (n+1 < totalphotos) {
		        			document.getElementsByName(names[n])[0].style.display = 'none';
		        			document.getElementsByName(names[n+1])[0].style.display = 'block';
		        		} else {
		        			//end of survey
		        			document.getElementsByName('submit')[0].style.display = 'inline';
		        		}
		        		votes[n] = this.value;
		        		n++;
		        	} else {
		        		votes[totalphotos-1] = this.value;
		        	}
		        };
		}
	</script>
</body>